.profile-photo {
  width: 256px;
  height: 256px;
  border-radius: 50%;
}

.logo {
  float: left;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 30px;
}

.logo.long {
  padding-top: 10px;
  padding-bottom: 10px;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.alert.hire-me {
  position: fixed;
  left: 10px;
  bottom: -10px;
  font-size: 24px;
  padding: 20px 40px;
}

.alert.hire-me a {
  color: #8a6d3b;
}

.about-me {
  font-size: 28px;
}
