<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col footer-col-3">
      <h2 class="footer-heading">{{ site.title | escape }}</h2>
    </div>
    <div class="footer-col footer-col-3">
      <div class="footer-col-wrapper">
        <p>Software Engineer with more than 10 years experience, working mostly with Ruby on Rails and JavaScript. Get in touch if you need help with your project!</p>
      </div>
    </div>
  </div>
</footer>
